$dark-blue: #14184b;
$light-blue: #3949ab;
$accent-blue: #5c6bc0;
$text-color: #e8eaf6;
$text-color-light-blue: #d7d9eb;
$background-color: #11142f;
$error-color: #ff5252;
$placeholder-color: rgba(232, 234, 246, 0.6);
